.NavAnimation-enter {
  opacity: 0;
  transform: translateY(-70px);
}
.NavAnimation-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all .3s ease-in-out;
}
.NavAnimation-exit {
  opacity: 1;
  transform: translateY(0);
}
.NavAnimation-exit-active {
  opacity: 0;
  transform: translateY(-70px);
  transition: all .3s ease-in-out;
}
